
/* .bg-danger{
    background-color: gray !important;
} */
.panda-bg-danger{
    background-color: #fceae8;
}
.categories img{
    width: 100px;

}
.panda-btn-buy-now{
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #ff297d 0%, #FF136F 100%);
}
